:root {
  --primary-color: ;
}

h4,
h5 {
  text-align: center;
  margin: 0px;
  line-height: 50px;
}

.hero {
  text-align: center;
  background: #f9f7fe;
}

.hero h2 {
  font-family: "Open Sans", sans-serif;
}

.email-link {
  text-align: center;
  text-decoration: none;
  color: black;
  display: block;
}
