:root {
  --backround-color: #e0ebe8;
  --primary-color: #459e87;
  --font-text: "Poppins", sans-serif;
}

body {
  font-family: var(--font-text);
}

h4,
h5 {
  margin: 0px;
  line-height: 50px;
}

h2 {
  font-size: 45px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  text-align: center;
  background: var(--backround-color);
  padding: 100px 20px;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  color: black;
}

.hero h1 {
  font-family: var(--font-text);
  font-size: 80px;
  color: var(--primary-color);
}

.hero h3 {
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
}

.button-link {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 18px 30px;
}

.email-link {
  text-align: center;
  text-decoration: none;
  color: black;
  display: block;
}
